body {
  background-color: black;
}

.logo {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
  font-size: 34.4;
}

.rr-round-logo {
  width: 281px;
  height: 281px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rrf-logo {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.apple-store-link {
  display: inline-block;
  overflow: hidden;
  background: url('https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2012-03-28&amp;kind=iossoftware&amp;bubble=ios_apps') no-repeat;
  width: 260px;
  height: 100px;
  background-position: center;
  background-size: contain;
  border-bottom-style: none;
}

.play-store-wrapper {
  position: relative;
}

.play-store-link {
  position: absolute;
  transform: translateX(-50%);
  width: 300px;
  min-width: 300px;
}

#container-loading {
  text-align: center;
}

#container-fallback {
  margin-top: 100px;
  min-height: 200px;
  text-align: center;
  display: none;
}

.links-container {
  margin-top: 40px;
}